# Election Data Analysis - Notebook 1: Data  Preparation and EDA


# Business Understanding

This notebook is part of an election data analysis project using the CRISP-DM methodology. The primary objectives are:

1. Understand voter participation trends by demographics (e.g., age, gender, education, employment status).
2. Analyze political interest and its variations across demographic groups (e.g., gender, marital status, education).
3. Investigate turnout predictions based on willingness to vote and historical trends.
4. Explore the impact of household income on voter turnout and priority issues.
5. Identify key local issues and their variation by demographics and geography (e.g., urban vs. rural).
6. Study the distribution of reasons for not voting.
7. Examine sources of political news and their usage trends across demographic groups.
8. Analyze engagement with political news and its variation by education level, gender and occupation.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set visualization style
sns.set_theme(style="whitegrid")

import warnings
warnings.filterwarnings('ignore')

# Data Understanding

In this step, we will:
- Load the dataset.
- Inspect its structure and metadata.
- Summarize key statistics.
- Check for missing or inconsistent values.

In [7]:
# Load the dataset
file_path = "Political_form_-_all_versions_-_labels_-_2023-07-01-17-04-33.xlsx"

data = pd.read_excel(file_path)

# Inspect the dataset
print("Dataset Overview:")
print(data.info())

Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4537 entries, 0 to 4536
Data columns (total 52 columns):
 #   Column                                                                                                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                                                                                                      --------------  -----
 0   start                                                                                                                                                                                       4537 non-null   datetime64[ns]
 1   end                                                                                                                                                                                         4537 non-null   datetime64[ns]
 2   Enrollment Number                                                                                                                                                                           4537 non-null   int64
 3   Location                                                                                                                                                                                    4531 non-null   object
 4   _Location_latitude                                                                                                                                                                          4531 non-null   float64
 5   _Location_longitude                                                                                                                                                                         4531 non-null   float64
 6   _Location_altitude                                                                                                                                                                          4531 non-null   float64
 7   _Location_precision                                                                                                                                                                         4531 non-null   float64
 8   Date and Time                                                                                                                                                                               4388 non-null   datetime64[ns]
 9   Age                                                                                                                                                                                         4531 non-null   object
 10  Gender                                                                                                                                                                                      4529 non-null   object
 11  Marital Status                                                                                                                                                                              4527 non-null   object
 12  How many children do you have, if any?                                                                                                                                                      3930 non-null   float64
 13  Education Level                                                                                                                                                                             4352 non-null   object
 14  Employment Status                                                                                                                                                                           4526 non-null   object
 15  Monthly Household Income                                                                                                                                                                    4356 non-null   object
 16  Did you vote in the previous election?                                                                                                                                                      4530 non-null   object
 17  If you didn't vote, what was the reason?                                                                                                                                                    1621 non-null   object
 18  If other specify.                                                                                                                                                                           351 non-null    object
 19  Would you be willing to vote in the next election?                                                                                                                                          4490 non-null   object
 20  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own                                4523 non-null   object
 21  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Education                      4523 non-null   float64
 22  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Healthcare                     4523 non-null   float64
 23  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Jobs/Employment                4523 non-null   float64
 24  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Affordable Housing             4523 non-null   float64
 25  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Crime and Safety               4523 non-null   float64
 26  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Transportation/Infrastructure  4523 non-null   float64
 27  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Environment/Climate Change     4523 non-null   float64
 28  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Taxes                          4523 non-null   float64
 29  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Social Justice/Equality        4523 non-null   float64
 30  What are the most important issues in your local area that you would like to see changed? Please select up to three from the following list, or add your own/Other                          4523 non-null   float64
 31  If other specify..1                                                                                                                                                                         458 non-null    object
 32  How interested are you in politics?                                                                                                                                                         4525 non-null   object
 33  How do you get your news and information about politics?                                                                                                                                    4510 non-null   object
 34  How do you get your news and information about politics?/TV News                                                                                                                            4510 non-null   float64
 35  How do you get your news and information about politics?/Social Media                                                                                                                       4510 non-null   float64
 36  How do you get your news and information about politics?/Print Newspapers                                                                                                                   4510 non-null   float64
 37  How do you get your news and information about politics?/Online News Websites                                                                                                               4510 non-null   float64
 38  How do you get your news and information about politics?/Radio                                                                                                                              4510 non-null   float64
 39  How do you get your news and information about politics?/Other                                                                                                                              4510 non-null   float64
 40  If other, specify.                                                                                                                                                                          220 non-null    object
 41  Have you ever volunteered for a political campaign or cause?                                                                                                                                4523 non-null   object
 42  _id                                                                                                                                                                                         4537 non-null   int64
 43  _uuid                                                                                                                                                                                       4537 non-null   object
 44  _submission_time                                                                                                                                                                            4537 non-null   datetime64[ns]
 45  _validation_status                                                                                                                                                                          0 non-null      float64
 46  _notes                                                                                                                                                                                      0 non-null      float64
 47  _status                                                                                                                                                                                     4537 non-null   object
 48  _submitted_by                                                                                                                                                                               4537 non-null   object
 49  __version__                                                                                                                                                                                 4537 non-null   object
 50  _tags                                                                                                                                                                                       0 non-null      float64
 51  _index                                                                                                                                                                                      4537 non-null   int64
dtypes: datetime64[ns](4), float64(24), int64(3), object(21)
memory usage: 1.8+ MB
None

In [6]:
# First few rows of the data
data.head()

,start,end,Enrollment Number,Location,_Location_latitude,_Location_longitude,_Location_altitude,_Location_precision,Date and Time,Age,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2023-05-15 15:14:02.994,2023-05-15 15:17:11.162,4001,-0.3552632 34.7552613 0.0 3000.0,-0.355263,34.755261,0.000000,3000.000,2023-05-15 15:14:00,50-59,...,238327833,ad968d31-2518-4884-83cf-82701c682c16,2023-05-15 12:20:00,NaN,NaN,submitted_via_web,safra_data,vNX83DW9mzvDcv5eBqBF7x,NaN,1
1,2023-05-15 22:25:48.557,2023-05-15 22:27:44.505,800116,0.336606 37.5641233 1141.9 4.466,0.336606,37.564123,1141.900000,4.466,2023-05-15 22:26:00,20-29,...,238436622,dad9bd3f-8916-4d1a-8d44-aba0a8b84dff,2023-05-15 19:27:52,NaN,NaN,submitted_via_web,safra_data,vNX83DW9mzvDcv5eBqBF7x,NaN,2
2,2023-05-15 22:32:38.130,2023-05-15 22:45:09.993,800111,-1.153349 36.9162069 1537.5999755859375 20.0,-1.153349,36.916207,1537.599976,20.000,2023-05-15 22:34:00,20-29,...,238438952,53fa1ac1-4153-4d3d-a875-fe5db0a0e4c6,2023-05-15 19:46:33,NaN,NaN,submitted_via_web,safra_data,vNX83DW9mzvDcv5eBqBF7x,NaN,3
3,2023-05-16 10:17:05.512,2023-05-16 10:22:31.477,800140,-1.2547935 36.9001899 0.0 20.9,-1.254793,36.900190,0.000000,20.900,2023-05-16 10:17:00,20-29,...,238519273,3d7ac288-cf9b-47e2-a658-ed741ae23895,2023-05-16 07:22:46,NaN,NaN,submitted_via_web,safra_data,vNX83DW9mzvDcv5eBqBF7x,NaN,4
4,2023-05-18 08:23:59.311,2023-05-18 08:33:17.272,800146,-2.6296274 38.1185042 750.603 3.9,-2.629627,38.118504,750.603000,3.900,2023-05-18 08:27:00,20-29,...,239059150,a1609008-d0b7-4f22-a170-45a9599a5d7e,2023-05-18 05:33:30,NaN,NaN,submitted_via_web,safra_data,vNX83DW9mzvDcv5eBqBF7x,NaN,5